.idea
*.pyc
tests/fixtures/zip_processor_zips/*.zip
tests/fixtures/pipe_factory_resources/results/*.zip
tests/fixtures/pipe_factory_resources/copy_results/*.zip
tests/fixtures/pipe_factory_resources/a.txt
